:root{
    --grid-gap: 5px
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: grid;
}

header{
    background-color: #ccc;
    padding: 10px;
}

header > h1{
    margin-top: 0;
}

#main{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main > #field{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
    background-color: #000;
    border: var(--grid-gap) solid black;
    justify-items: center;
    align-items: center;
}

#field > div[data-cellindex]{
    background-color: #ccc;
    font-size: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none !important;
}

#round-result-background{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#round-result-background > *{
    margin: 2rem;
}

