*{
    box-sizing: border-box;
}

:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)*.9);
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.board{
    width: calc(var(--cell-size)*3);
    height: calc(var(--cell-size)*3);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px;
    background-color: black;
}

.cell{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell.cross,
.cell.circle{
    cursor: not-allowed;
}

.board.cross .cell:not(.cross):not(.circle):hover::before,
.board.cross .cell:not(.cross):not(.circle):hover::after,
.board.circle .cell:not(.cross):not(.circle):hover::before{
    background-color: lightgray !important;
}


.cell.cross::before,
.cell.cross::after,
.board.cross .cell:not(.cross):not(.circle):hover::before,
.board.cross .cell:not(.cross):not(.circle):hover::after{
    position: absolute;
    content: '';
    width: calc(var(--mark-size)*.15);
    height: var(--mark-size);
    background-color: black;
}
.cell.cross::before,
.board.cross .cell:not(.cross):not(.circle):hover::before{
    transform: rotate(45deg);
}
.cell.cross::after,
.board.cross .cell:not(.cross):not(.circle):hover::after{
    transform: rotate(-45deg);
}


.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.cross):not(.circle):hover::before,
.board.circle .cell:not(.cross):not(.circle):hover::after{
    position: absolute;
    content: '';
    border-radius: 50%;
}
.cell.circle::before,
.board.circle .cell:not(.cross):not(.circle):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: black;
}
.cell.circle::after,
.board.circle .cell:not(.cross):not(.circle):hover::after{
    width: calc(var(--mark-size)*.7);
    height: calc(var(--mark-size)*.7);    
    background-color: white;
}

.winning-message{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,.9);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    color: white;
    font-size: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winning-message button{
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid black;
}

.winning-message button:hover{
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show{
    display: flex;
}